@import "tailwindcss";

@theme {
  --font-sans: 'Segoe UI', system-ui, Roboto, sans-serif;
  --color-calm-50: #f4f8f7;
  --color-calm-100: #e4eeec;
  --color-calm-200: #c8dcd8;
  --color-calm-300: #a1c3bd;
  --color-calm-400: #74a49c;
  --color-calm-500: #558781;
  --color-calm-600: #436c68;
  --color-calm-700: #385855;
  --color-calm-800: #314846;
  --color-calm-900: #2c3d3c;
}

body {
  @apply bg-calm-50 text-calm-900 antialiased;
}
